.container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  /* increase horizontal padding for left and right sides */
  padding: 15px 40px;
  border-radius: 56px;
  border: 0.5px solid #FFF;
  background: rgba(255, 255, 255, 0.05);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

@font-face {
  font-family: 'KaliebLuxuryDemo';
  src: url('../assets/fonts/KaliebLuxuryDemo-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.container h2 {
  font-family: 'KaliebLuxuryDemo', serif;
  margin: 0;
  color: #FFF;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 1.5rem;
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 40px;
  width: auto;
}

.links {
  display: flex;
  gap: 50px;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

/* Reduce horizontal padding on small screens */
@media (max-width: 600px) {
  .container {
    padding: 10px 16px;
    width: 94%;
  }
}


