.appWrap {
  position: relative;
  min-height: 100vh;
}

.liquidEtherBg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.appContent {
  position: relative;
  z-index: 1;
}
