@font-face {
  font-family: 'KaliebLuxuryDemo';
  src: url('./assets/fonts/KaliebLuxuryDemo-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #050107;
  color: white;
  overflow-x: hidden;
}
